*~
*.o
*.mod
*.s
*.out
pathnames*
/*.zip
/*.tar.gz

Makefile
Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/tap-driver.sh
/ylwrap
*.log
*.trs
*.dirstamp

# http://www.gnu.org/software/autoconf
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
.deps

# https://www.gnu.org/software/libtool/
libtool
/ltmain.sh
*.lo
*.la
.libs

# http://www.gnu.org/software/texinfo
/texinfo.tex

# Dependency files
*.d

# Fortran module files
*.mod
*.mod.proxy

# Intel vectorization reports
*.optrpt

# Netcdf file during testing
examples/*/*.nc
examples/*/*/*.nc

# Jupyter notebooks
.ipynb_checkpoints

# Intel code coverage
*.dyn
*.dpi
*.spi
*.spl
*.HTML
*.html
*.gif

# gh-pages directory
public

# Ruby stuff
**/Gemfile.lock
